@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}


<div class="LoginPageBackground">
    <video autoplay muted loop src="~/Media/Apartment Video.mp4"></video>
    <div class="LoginPageInnerBackground">
        <div >
            <h1>@ViewData["Title"]</h1>
            <section>
                <form id="account" method="post">
                    <h2>Use your account to log in.</h2>
                    <hr />
                    <div asp-validation-summary="ModelOnly" class="" role="alert"></div>
                    <div>
                        <div class="LoginForm">
                            <label asp-for="Input.Email" class="">Email</label>
                            <input asp-for="Input.Email" class="" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                            <span asp-validation-for="Input.Email" class=""></span>
                        </div>
                        <div class="LoginForm">
                            <label asp-for="Input.Password" class="">Password</label>
                            <input asp-for="Input.Password" class="" autocomplete="current-password" aria-required="true" placeholder="password" />
                            <span asp-validation-for="Input.Password" class=""></span>
                        </div>
                    </div>
                    <div class="LoginExtra">
                        <label asp-for="Input.RememberMe" class="">
                            <input class="" asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                        <div>
                            <button style="margin: 0; width:100px;" id="login-submit" type="submit">Log in</button>
                        </div>
                    </div>
                    
                    
                    <div>
                        <p>
                            <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                        </p>
                        <p>
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                        </p>

                    </div>
                </form>
            </section>
        </div>

        <form asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="">
            <button type="submit" name="provider" value="Google" class="btn">Continue with Google</button>
        </form>
    </div>
    

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
