@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<div class="LoginPageBackground">
    <video autoplay muted loop src="~/Media/Apartment Video.mp4"></video>
    <div class="LoginPageInnerBackground" style="height: 82%;"> 
        
            <div>
                <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <h2>Create a new account.</h2>
                    <hr />
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>


                    <div class="LoginForm">
                        <label asp-for="Input.FullName">Full Name</label>
                        <input asp-for="Input.FullName" class="form-control" autocomplete="name" aria-required="true" placeholder="Full name" />
                        <span asp-validation-for="Input.FullName" class="text-danger"></span>
                    </div>
                        
                    

                    <!-- Email -->
                    <div class="LoginForm">
                        <label asp-for="Input.Email">Email</label>
                        <input asp-for="Input.Email" class="form-control" autocomplete="email" aria-required="true" placeholder="name@example.com" />
                        
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>

                    <!-- Password -->
                    <div class="LoginForm">
                        <label asp-for="Input.Password">Password</label>
                        <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                        
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>

                    <!-- Confirm Password -->
                    <div class="LoginForm">
                        <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                        
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>

                    <button id="registerSubmit" type="submit" style="margin: 0 1rem;">Register</button>
                </form>

                <!-- Google sign-up -->
                <form asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="mt-3">
                    <button type="submit" name="provider" value="Google" class="btn">Continue with Google</button>
                </form>
            </div>
        
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
